# Local config values used to prefill the UI (copy to .env)
# set -a && source .env && set +a
OAUTH_CLIENT_ID="YOUR_OAUTH_CLIENT_ID"
OAUTH_CLIENT_SECRET="YOUR_OAUTH_CLIENT_SECRET"
FOLDER_ID="YOUR_FOLDER_ID" #Optional
GOOGLE_DRIVE_ACCESS_TOKEN="YOUR_GOOGLE_DRIVE_ACCESS_TOKEN" #Optional (needs to be refreshed periodically)
